
$font-primary: 'Poppins', sans-serif;
$font-logo: 'Oswald', sans-serif ;


$color-background: #222831;
$color-white: #FFFFFF;
$color-prismarine: #00ADB5;
$color-text: #EEEEEE;
$color-animation: #6ae6a8;

$grad-primary: rgba(57, 62, 70, 0.75);
$grad-works: rgba(57, 62, 70, 0.5);
$grad-text: rgba(238, 238, 238, 0.75);

$border: 1px solid rgba(238, 238, 238, 0.1);



$desktop-small: 1200px;
$tablet: 992px ;
$tablet-small: 768px ;
$mobile: 576px ;
